body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
@media screen and (max-width: 590px) {
  .linkspage {
    display: none;
  }
  .iccons {
    display: none;
  }
  .logoimages {
    width: 40%;
  }
  .smallhome, .smallabout {
    display: inline-block;
  }
  input#hello {
    width: 200px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 590px) {
  .linkspage {
    display: inline-block;
  }
  .iccons {
    display: inline-block;
  }
  .logoimages {
    width: 40%;
  }
  .smallhome, .smallabout {
    display: none;
  }
  input#hello {
    width: 269px;
    padding-left: 55px;
  }
}
@media screen and (min-width: 1020px) {
  .firstsection {
    height: 600px;
    background-color: #fff;
  }
  .firstsection .left {
    float: left;
    width: 48%;
    padding-top: 100px;
  }
  .firstsection .right {
    float: right;
    width: 40%;
    padding-top: 147px;
  }
  .firstsection h1 {
    padding-left: 50px;
  }
  .firstsection p {
    padding-left: 50px;
    padding-right: 50px;
  }
  #circle_2014,#circle_now {
    margin-left: 46%;
  }
  .secondsection .left {
    width: 50%;
    display: inline-block;
    position: relative;
    border-right: 7px solid white;
  }
  .secondsection .right {
    width: 50%;
    margin-left: 50%;
    display: inline-block;
    position: relative;
    border-left: 7px solid white;
  }
  .secondsection .left .description {
    float: right;
    margin-right: 55px;
  }
  .secondsection .right .description {
    float: left;
    margin-left: 55px;
  }
  .secondsection .left .circle {
    right: -30px;
  }
  .secondsection .left .tip {
    right: 35px;
    border-left: 20px solid #fff;
  }
  .secondsection .right .tip {
    left: 35px;
  }
}
@media screen and (max-width: 1020px) {
  .firstsection .left {
    text-align: center;
    padding-top: 100px;
  }
  .firstsection .right {
    text-align: center;
    padding-top: 50px;
  }
  #circle_2014,#circle_now {
    margin-left: 30px;
  }
  .secondsection .left {
    width: 100%;
    display: inline-block;
    position: relative;
    border-left: 7px solid white;
    margin-left: 80px;
  }
  .secondsection .right {
    width: 100%;
    display: inline-block;
    position: relative;
    border-left: 7px solid white;
    margin-left: 80px;
  }
  .secondsection .description {
    width: 60%;
    margin-left: 30px;
  }
  .secondsection .left .circle {
    left: -30px;
  }
  .secondsection .left .tip {
    left: 30px;
    border-right: 20px solid #fff;
  }
  .secondsection .right .tip {
    left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .firstsection h1 {
    font-size: 36px;
  }
  .firstsection p {
    font-size: 20px;
  }
  .firstsection .right img {
    width: auto;
  }
  .secondsection h1 {
    font-size: 22px;
  }
  .secondsection p {
    font-size: 20px;
  }
  .thirdsection h1 {
    font-size: 36px;
  }
  .thirdsection p {
    font-size: 20px;
  }
  /*#circle_now {
    margin-left: 46%;
  }*/
}
@media screen and (max-width: 768px) {
  .firstsection h1 {
    font-size: 29px;
  }
  .firstsection p {
    font-size: 16px;
  }
  .firstsection .right img {
    width: 50%;
  }
  .secondsection h1 {
    font-size: 18px;
  }
  .secondsection p {
    font-size: 14px;
  }
  .thirdsection h1 {
    font-size: 29px;
  }
  .thirdsection p {
    font-size: 16px;
  }
  /*#circle_now {
    margin-left: 41%;
  }*/
}
.header {
  height: 80px;
  padding: 0px;
  position: fixed;
  top: 0;
  background-color: #fff;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.linkspage {
  width: 30%;
  text-align: center;
}
.linkspage li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.linkspage .home a {
  color: #999;
  text-decoration: none;
}
.linkspage .about a {
  color: #333;
  margin-left: 10px;
  text-decoration: none;
}
.logoimages {
  text-align: center;
  display: inline-block;
  margin-top: 16px;
}
.iccons {
  position: absolute;
  margin-top: 16px;
  width: 30%;
  text-align: center;
}
.iccons li {
  display: inline-block;
  list-style: none;
}
.iccons li img:hover{
  opacity: .8;
  cursor: pointer;
}
.smallhome, .smallabout {
  width: 30%;
  text-align: center;
  margin-top: 25px;
}
.smallhome {
  float: left;
}
.smallabout {
  float: right;
}
.smallhome a, .smallabout a {
  font-size: 18px;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.smallhome a {
  color: #999;
}
.smallabout a {
  color: #333;
}
.firstsection h1 {
  color: #333;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
}
.firstsection p {
  margin-top: 40px;
  color: #999;
  font-family: 'Asap', sans-serif;
  margin-bottom: 0px;
}
.secondsection {
  /*height: 860px;*/
  background-color: #f5f5f5;
}
#circle_2014, #circle_now {
  border: 7px solid #fff;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  text-align: center;
  position: relative;
  position: absolute;
}
#circle_2014 {
  background-color: #f5f5f5;
  margin-top: -50px;
}
#circle_now {
  background-color: #e74c3c;
  margin-top: -50px;
}
#circle_2014 span, #circle_now span {
  position: absolute;
  top: 31px;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  font-size: 22px;
  left: 25px;
}
#circle_2014 span {
  color: #999;
}
#circle_now span {
  color: #fff;
}
.secondsection .first {
  margin-top: 65px;
}
.secondsection .fourth {
  margin-bottom: 50px;
}
.secondsection .description {
  margin-top: 30px;
  background-color: #fff;
  padding: 10px 15px;
  position: relative;
  border-radius: 10px;
  margin-left: 50px;
}
.secondsection h1 {
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  color: #333;
}
.secondsection p {
  font-family: 'Asap', sans-serif;
  color: #999;
}
.secondsection .right .circle {
  left: -30px;
}
.first .circle {
  background-color: #ffc3bd;
}
.second .circle {
  background-color: #fa9d93;
}
.third .circle {
  background-color: #ed8074;
}
.fourth .circle {
  background-color: #ec675a;
}
.circle {
  position: absolute;
  border: 7px solid #f5f5f5;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  z-index: 1;
  top: 39%;
}
.secondsection .left .tip {
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  position: absolute;
  top: 44%;
}
.secondsection .right .tip {
  border-right: 20px solid #fff;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  position: absolute;
  top: 44%;
}
.thirdsection {
  /*height: 650px;*/
  background-color: #fff;
  text-align: center;
}
.thirdsection h1 {
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  color: #333;
  padding-top: 80px;
}
.thirdsection p {
  font-family: 'Asap', sans-serif;
  color: #999;
  margin-top: 40px;
}
input#hello {
  height: 60px;
  background-color: #2ecc71;
  border: 1px hidden;
  border-radius: 30px 30px;
  outline: medium none;
  color: #fff;
  font-family: 'Asap', sans-serif;
  font-size: 20.3px;
  margin-top: 55px;
  margin-bottom: 30px;
}
input#hello:hover {
  opacity: .8;
  cursor: pointer;
}
.fifthsection {
  background-color: #333;
  text-align: center;
}
.fifthsection img {
  padding-top: 13px;
  width: 55%;
}
.footer {
  height: 120px;
  text-align: center;
}
.bottom li {
  display: inline-block;
  list-style: none;
  padding-top: 40px;
}
.bottom li img:hover {
  opacity: .8;
  cursor: pointer;
}
