body {
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 590px) {
  .linkspage {
    display: none;
  }
  .iccons {
    display: none;
  }
  .logoimages {
    width: 40%;
  }
  .smallhome, .smallabout {
    display: inline-block;
  }
}
@media screen and (min-width: 590px) {
  .linkspage {
    display: inline-block;
  }
  .iccons {
    display: inline-block;
  }
  .logoimages {
    width: 40%;
  }
  .smallhome, .smallabout {
    display: none;
  }
}
@media screen and (max-width: 730px) {
  .firstsection h1 {
    font-size: 36px;
  }
  .firstsection p {
    font-size: 19px;
  }
  .secondsection h1 {
    font-size: 29px;
  }
  .secondsection p {
    font-size: 16px;
  }
  .fourthsection p {
    font-size: 19px;
  }
  input#email {
    height: 40px;
    width: 40%;
  }
  input#emailfourth {
    height: 40px;
    width: 40%;
  }
  input#submit {
    height: 42px;
    width: 18%;
  }
}
@media screen and (min-width: 730px) {
  .firstsection h1 {
    font-size: 52px;
  }
  .firstsection p {
    font-size: 24px;
  }
  .secondsection h1 {
    font-size: 36px;
  }
  .secondsection p {
    font-size: 20px;
  }
  .fourthsection p {
    font-size: 24px;
  }
  input#email {
    height: 60px;
    width: 269px;
  }
  input#emailfourth {
    height: 60px;
    width: 269px;
  }
  input#submit {
    height: 62px;
    width: 81px;
  }
}
@media screen and (min-width: 895px) {
  .thirdsection .left {
    float: left;
    width: 48%;
    padding-top: 150px;
    text-align: right;
  }
  .thirdsection .right {
    float: right;
    width: 48%;
    padding-top: 150px;
  }
  .thirdsection {
    height: 900px;
  }
  .thirdsection .left h1 {
    margin-top: 200px;
  }
  .thirdsection .right img {
    margin-top: 120px;
  }
  .thirdsection h1 {
    font-size: 36px;
  }
  .thirdsection p {
    font-size: 19px;
  }
}
@media screen and (max-width: 895px) {
  .thirdsection .left {
    width: 100%;
    padding-top: 100px;
    text-align: center;
  }
  .thirdsection .right {
    width: 100%;
    padding-top: 20px;
    text-align: center;
  }
  .thirdsection .left h1 {
    margin-top: 50px;
  }
  .thirdsection .right img, .left img {
    width: 50%;
  }
  .thirdsection .right img {
    margin-top: 80px;
  }
  .thirdsection h1 {
    font-size: 29px;
  }
  .thirdsection p {
    font-size: 16px;
  }
}
.header {
  height: 80px;
  padding: 0px;
  position: fixed;
  top: 0;
  background-color: #fff;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.linkspage {
  width: 30%;
  text-align: center;
}
.linkspage li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.linkspage .home a {
  color: #333;
  text-decoration: none;
}
.linkspage .about a {
  color: #999;
  margin-left: 10px;
  text-decoration: none;
}
.logoimages {
  text-align: center;
  display: inline-block;
  margin-top: 16px;
}
.iccons {
  position: absolute;
  margin-top: 16px;
  width: 30%;
  text-align: center;
}
.iccons li {
  display: inline-block;
  list-style: none;
}
.iccons li img:hover {
  opacity: .8;
  cursor: pointer;
}
.smallhome, .smallabout {
  width: 30%;
  text-align: center;
  margin-top: 25px;
}
.smallhome {
  float: left;
}
.smallabout {
  float: right;
}
.smallhome a, .smallabout a {
  font-size: 18px;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.smallhome a {
  color: #333;
}
.smallabout a {
  color: #999;
}
.firstsection {
  background-image: url("/upcomer/images/bg1_repeat.JPG");
  margin-top: 80px;
  text-align: center;
}
.firstsection h1 {
  color: #fff;
  font-family: 'Asap', sans-serif;
  padding-top: 95px;
}
.firstsection p {
  margin-top: 40px;
  color: #fff;
  font-family: 'Asap', sans-serif;
}
input#email {
  background-color: #EE8277;
  opacity: 0.8;
  border: 1px hidden;
  border-radius: 30px 0px 0px 30px;
  padding-left: 48px;
  outline: medium none;
}
input#submit {
  background-color: #2ECC71;
  border: 1px hidden;
  border-radius: 0px 30px 30px 0px;
  outline: medium none;
  padding: 0;
  margin-left: -4px;
  cursor: pointer;
}
input {
  color: #fff;
  font-family: 'Asap', sans-serif;
  font-size: 20.3px;
}
.firstsection .label {
  font-size: 16px;
}
.firstsection img {
  margin-bottom: -5px;
  cursor: pointer;
}
.secondsection {
  text-align: center;
  background-color: #fff;
}
.secondsection h1 {
  color: #333;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  padding-top: 100px;
}
.secondsection p {
  color: #999;
  font-family: 'Asap', sans-serif;
  margin-top: 40px;
}
.secondsection img {
  width: 100%;
}
.thirdsection {
  background-color: #f5f5f5;
}
.thirdsection h1 {
  color: #333;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
}
.thirdsection p {
  margin-top: 40px;
  color: #999;
  font-family: 'Asap', sans-serif;
}
.fourthsection {
  background-image: url("/upcomer/images/bg2.png");
  text-align: center;
}
.fourthsection h1 {
  padding-top: 80px;
  color: #fff;
  font-family: 'Asap', sans-serif;
}
.fourthsection p {
  color: #fff;
  font-family: 'Asap', sans-serif;
  padding-top: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}
p.secondpara {
  padding-top: 40px;
  padding-bottom: 30px;
}
input#emailfourth {
  background-color: #EE8277;
  opacity: 0.8;
  border: 1px hidden;
  border-radius: 30px 0px 0px 30px;
  padding-left: 48px;
  outline: medium none;
}
.fbtweetmail {
  padding-bottom: 80px;
}
.fbtweetmail img {
  margin-bottom: 10px;
}
.fourthsection .label {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.fifthsection {
  background-color: #333;
  text-align: center;
}
.fifthsection img {
  padding-top: 13px;
  width: 55%;
}
.footer {
  height: 120px;
  text-align: center;
}
.bottom li {
  display: inline-block;
  list-style: none;
  padding-top: 40px;
}
.bottom li img:hover {
  opacity: .8;
  cursor: pointer;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.fb_tweet_mail {
  margin-bottom: 80px;
}
.fb_tweet_mail img {
  margin-bottom: 10px;
}
